//THEME COLORS
$info: #0266ff;
$yellow: #dcf10d;
$blue: #192140;
$blue-dark: #10131c;

//WHITE AND GRAY COLORS
$white: #fff;
$gray-100: #f8f9fc;
$gray-200: #d7f8ff;
$gray-400: #c0bfcf;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #9d9db5;

@import "../assets/bootstrap/scss/bootstrap.scss";
