@use "../custom" as *;

* {
  font-family: "Inter", sans-serif;
}

.card-body-image {
  position: relative;
  max-height: 300px;
  overflow: hidden;

  .fa-regular {
    position: absolute;
    color: $white;
    top: 10px;
    right: 10px;
  }
}

.card-img-top {
  height: 250px;
  width: 100%;
}

.row {
  padding: 60px 80px;
}

.card-body {
  height: auto;
  padding: 20px;
  font-weight: 20px;
}

.card-body-image img {
  height: initial;
  max-width: 100%;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  p {
    padding-top: 15px;
    color: $gray-700;
  }

  .fa-regular {
    color: $gray-700;
  }

  .fa-solid {
    color: $info;
  }
}

.card {
  height: 400px;
}

.border-2 {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 35px;
  border-radius: 30px;
  color: $gray-700;
}

@media (max-width: 425px) {
  .row {
    padding: 50px 2em;
  }
}
